<style>
 nav{
   background: #666;
 }
 nav ul, .time{
   list-style-type: none;
   padding:0;
 }
 nav a,.time{
   font-size: 1.2em;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
   text-align: center;
   color: #fff;
   display: block;
   padding: 10px;
 }
 nav a:hover{
   background: #999;
 }
 nav ul{
   display: flex;
 }
 nav li, .time{
   flex: 1 1 0;
 }
 .time{
   font-size: 0.9em;
 }
 body{
   background: #ededed;
 }
 .new_task{
   background: #888;
 }
 label{
   color: black;
   padding: 10px;
 }
 input{
   padding: 10px;
   width: 80%;
   margin-right: auto;
 }
 input[type=text], input[type=time], input[type=tel], input[type=number], select{
   padding: 10px 25px;
   margin: 8px 0;
   box-sizing: border-box;
   border: 2px solid cyan;
   border-radius: 4px;
   height: 30px;
   vertical-align: middle;
   color: red;
 }
 textarea{
   width: 100%;
   height: 80px;
   padding: 12px 20px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
 }
 .logo{
   background: #4c90ff;
 }
 .logo:hover{
   background: #376bbf;
 }
 .errorlist{
   color: #f00;
   font-size: 0.7em;
   font-family: monospace;
   font-weight: bold;
   background: #522;
 }
 .helptext{
   display: none;
 }
 td,th {
   border: 1px solid rgb(190, 190, 190);
   padding: 10px;
       }

 td {
   text-align: center;
     }

 tr:nth-child(even) {
     background-color: #eee;
 }

 th[scope="col"] {
     background-color: #696969;
     color: #fff;
 }

 th[scope="row"] {
     background-color: #d7d9f2;
 }

 caption {
     padding: 10px;
     caption-side: bottom;
 }

 table {
     border-collapse: collapse;
     border: 2px solid rgb(200, 200, 200);
     letter-spacing: 1px;
     font-family: sans-serif;
     font-size: .8rem;
     width: 100%;

       }
 select {
   width: 100%;
   padding: 16px 20px;
   border: none;
   border-radius: 4px;
   background-color: #848484;
   color: black;
 }
 input[type=submit]{
   background-color: #4c90ff;
   border: none;
   color: white;
   padding: 16px 32px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
   width: 100%;
   }
   input[type=reset]{
     background-color: #ff2222;
     border: none;
     color: white;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     width: 100%;
   }
</style>
