{% load crispy_forms_tags %}
<!<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>


  </head>
  <body>
    <div class="container menu">
      <nav>
        <ul>
          <li class="logo"><a class="logo" href="#">Zapravkom</a></li>
          <li><a href="#">Войти</a></li>
          <li><a href="/logistic/denis/">Денис</a></li>
          <li><a href="/logistic/vlad/">Владислав</a></li>
          <li><a href="#">Поиск</a></li>
          <li><code class="time">Сегодня {{ date|date:"d M Y" }}</code></li>
        </ul>
      </nav>
    </div>
    <div class="form_task">
      <form method='POST'>
        {% csrf_token %}
      {{ form_task|crispy }}
      <input type="submit" value="Сохранить">
      <input type="reset"  value="Очистить">
      </form>
    </div>
    <div class="form_client">
      <form method='POST'>
        {% csrf_token %}
      {{ form_client.as_p }}
      <input type="submit" value="Сохранить">
      <input type="reset"  value="Очистить">
      </form>
    </div>
    
    </div>
    <div class="task_list">
      <table>
      <caption>Список задач на сегодня ( {{ date|date:"d M Y" }} )</caption>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Статус</th>
        <th scope="col">Адрес\описание</th>
        <th scope="col">Работает с:</th>
        <th scope="col">Работает до:</th>
        <th scope="col">Телефон</th>
        <th scope="col">Контактное лицо</th>
        <th scope="col">Оплата</th>
        <th scope="col">Сумма</th>
        <th scope="col">О\З</th>
        <th scope="col">Ответственный</th>
        <th scope="col">Подменка</th>
      </tr>
      {% for task in task_list %}
                <tr>
                <td class="id">{{ task.id }}</td>
                <td class="process">{{ task.process }}</td>
                <td class="description">{{ task.description }}</td>
                <td class="working_time">{{ task.working_time_1 }}</td>
                <td class="working_time">{{ task.working_time_2 }}</td>
                <td class="phone">{{ task.phone }}</td>
                <td class="contact_name">{{ task.contact_name }}</td>
                <td class="payment_method">{{ task.payment_method }}</td>
                <td class="cashsumm">{{ task.cashsumm }}</td>
                <td class="get_set">{{ task.get_set }}</td>
                <td class="employee">{{ task.employee }}</td>
                <td class="replace">{{ task.replace }}</td>
              </tr>
            {% endfor %}
            </table>

    </div>
  </body>
</html>
